// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon {
    height: 30px;
    width: 30px;
    transform: translate(0, 5px);
}